# SSH related files
id_rsa
id_dsa
id_ecdsa
id_ed25519
*.pem
*.ppk
*ssh-agent*
*.pub
known_hosts
authorized_keys

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# IDE files
# PhpStorm
.idea/
*.iml
*.iws
*.ipr
.idea_modules/

# VS Code
.vscode/
*.code-workspace
.history/

# Eclipse
.project
.classpath
.settings/
.metadata/

# Sublime Text
*.sublime-project
*.sublime-workspace

# NetBeans
nbproject/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

# PHP related
/vendor/
composer.phar
/logs/
*.log
.env
.env.backup

# Cache and temporary files
/cache/
/tmp/

/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
